.posts h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}

.posts__input input {
  width: 100%;
  background-color: rgb(211, 211, 211);
  border: 0;
  border-radius: 3px;
  outline: 0;
  font-size: 20px;
  padding: 8px 8px 20px 8px;
  box-sizing: border-box;
}

.button {
  float: right;
  margin: 0;
  padding: 0;
  background-color: green;
  color: #fff;
  margin-top: 15px;
  padding: 5px 60px 5px 20px;
  font-size: 20px;
  line-height: 1;
  border-radius: 3px;
}

.posts__items {
  margin-top: 70px;
}