.app-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 9fr;
  grid-template-areas: 
    "h h"
    "n c";
  grid-gap: 1em;
  padding-top: 20px;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



.content{
  grid-area: c;
}