.wrapper{
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogs{
    border-right: 1px solid blue;
}

.dialogs__items{
    list-style-type:disc;
}

.dialogs__items a{
    text-decoration: none;
    color: #000;
}

.dialogs__item{
    font-weight: 300;
    font-size: 26px;
    padding: 15px 15px 15px 11px;
    list-style-type: none;
}

.messages{
    list-style-type: none;
}

.dialogs__item .active{
    background-repeat: no-repeat;
    font-weight: 500;
}

.ava{
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    padding: 4px 6px 8px 6px;
    margin-right: 20px;
}